In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# prompt: i want to create program to iterate the total number of column in the df

# create a sample dataframe
data = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data)

# iterate over the total number of columns
for i in range(df.shape[1]):
  print(f"Column index: {i}, Column name: {df.columns[i]}")

In [ ]:
df=pd.read_csv('/content/bank.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [ ]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [ ]:
df.describe()
print(df['deposit'].value_counts())

deposit
0    5873
1    5289
Name: count, dtype: int64

In [ ]:
for col in df.columns:
  print(f"{col}")
  print(df[col].unique())
  print("___"*50)

age
[59 56 41 55 54 42 60 37 28 38 30 29 46 31 35 32 49 43 26 40 33 23 48 45
 36 52 53 39 57 51 44 24 50 27 34 47 25 58 61 68 75 22 69 66 85 72 90 67
 71 21 74 65 62 83 70 76 77 19 73 63 20 78 95 64 79 82 18 86 84 87 92 81
 80 93 88 89]
______________________________________________________________________________________________________________________________________________________
job
['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
______________________________________________________________________________________________________________________________________________________
marital
['married' 'single' 'divorced']
______________________________________________________________________________________________________________________________________________________
education
['secondary' 'tertiary' 'primary' 'unknown']
______________________________________________________________________________________________________________________________________________________
default
['no' 'yes']
______________________________________________________________________________________________________________________________________________________
balance
[2343   45 1270 ... 1594 2593 -134]
______________________________________________________________________________________________________________________________________________________
housing
['yes' 'no']
______________________________________________________________________________________________________________________________________________________
loan
['no' 'yes']
______________________________________________________________________________________________________________________________________________________
contact
['unknown' 'cellular' 'telephone']
______________________________________________________________________________________________________________________________________________________
day
[ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24  1 10 22 25 31]
______________________________________________________________________________________________________________________________________________________
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
______________________________________________________________________________________________________________________________________________________
duration
[1042 1467 1389 ... 1504  818 1812]
______________________________________________________________________________________________________________________________________________________
campaign
[ 1  2  3  4  6  5  8 11  9 10 15 12 14  7 24 13 17 29 21 20 16 32 19 25
 22 43 18 41 63 27 30 26 23 28 33 31]
______________________________________________________________________________________________________________________________________________________
pdays
[ -1 166  91 147 170 150 171 126 182 110 198 174 175  27 128 100 177 167
 122 183 195 133 178  34  10 163 184 154  99  93   2 242 272  76 160  90
 196 246 238 203 268 189 267  92   9  88  85 210 257 261 270 106 199 112
  41 294 231 239 302 135 307 222 138 323 141 320 264 316 315 256 146 328
  74 148 327 341 145 266 234 345 318 325 274 343 260 305 344 254 180 340
  82 181 278 153   4 349 334 176  87 269  86 169  83  79   6 259  13 161
 350  84  80 164  22 296  66 263 333  17  89  78 286 337 364 188 342 363
 352 295 353 356 288 367 366 359 347 370 284 300 306 361 287 301 355 371
 292 360 358 346 357 368 312 179 329 298 372 374 375 291  95 109  94  98
 186 101 187 321  40  96  21  35  97 285 103 212 293  81  38  28  67  60
 120  55 113  71 119  72  20 391  50 207 105 314 211 140 104  65 395 399
  49 389 386 412  62 229 385 156  63  64  69 394  70 185 102 190 461 116
 422 457 430 192 462 403 191 459 397 197 173 271 428 392 193 474 475 477
 130 283 157 476 131 132 129 134 114 121 107 115  58  57 143 208 335 149
 139  52  75 515 111  56 194 520 213 351 273 162 378 279 200 201 310 275
 127 165 309 313 216 209 282 202 436 433 142 172 281  48 276 297 280 446
 558 616 561 553 555 262 265 384 388 152 390 322 205 326 478 339 155 421
 223 626 426 236 206 348 595 311 648 304 521 369 449 398  53 258 479 237
 425 376 224 227 225 144 586 450 424 776 251 460 683 158 529 377 415 244
 407 458 532 481 445 535 784 491 440 455 277 470   1 435 437 728 414 518
 308 828  31  43 761  29  44 579 466 125 504 427 749 365 769 469 587 792
 854 842 603 444 232 690 137 442 541 550  73 439 420 168 243 387 204 503
 124 290  77  14 221 409 782 332 330 804 551 230 405 319  37 123 417 490
 463 362 805 544 472  33 495 253  36 299 324 235 401 117  68 774 228 317
 255 336 233 486   5 778 771 245  42 338 354 373 772  59 247 331  61 381
 108  15   8 241 136 159 250 217  12 826 594 303 151 404 717 289 252 651
 214  24 701 118]
______________________________________________________________________________________________________________________________________________________
previous
[ 0  1  4  2  3 10  7  9  5 29  6 13 17  8 11 30 22 58 21 14 26 12 19 55
 23 15 20 27 16 41 40 28 18 37]
______________________________________________________________________________________________________________________________________________________
poutcome
['unknown' 'other' 'failure' 'success']
______________________________________________________________________________________________________________________________________________________
deposit
['yes' 'no']
______________________________________________________________________________________________________________________________________________________

In [ ]:
from sklearn.preprocessing import LabelEncoder
for col in df.columns:
  if df[col].dtype=="object":
    le=LabelEncoder()
    df[col]=le.fit_transform(df[col])

In [ ]:
for col in df.columns:
  print(f"{col}")
  print(df[col].unique())
  print("___"*50)

age
[59 56 41 55 54 42 60 37 28 38 30 29 46 31 35 32 49 43 26 40 33 23 48 45
 36 52 53 39 57 51 44 24 50 27 34 47 25 58 61 68 75 22 69 66 85 72 90 67
 71 21 74 65 62 83 70 76 77 19 73 63 20 78 95 64 79 82 18 86 84 87 92 81
 80 93 88 89]
______________________________________________________________________________________________________________________________________________________
job
[ 0  9  7  4  5  1 10  2  3 11  6  8]
______________________________________________________________________________________________________________________________________________________
marital
[1 2 0]
______________________________________________________________________________________________________________________________________________________
education
[1 2 0 3]
______________________________________________________________________________________________________________________________________________________
default
[0 1]
______________________________________________________________________________________________________________________________________________________
balance
[2343   45 1270 ... 1594 2593 -134]
______________________________________________________________________________________________________________________________________________________
housing
[1 0]
______________________________________________________________________________________________________________________________________________________
loan
[0 1]
______________________________________________________________________________________________________________________________________________________
contact
[2 0 1]
______________________________________________________________________________________________________________________________________________________
day
[ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24  1 10 22 25 31]
______________________________________________________________________________________________________________________________________________________
month
[ 8  6  5  1 10  9  2  4  3  7  0 11]
______________________________________________________________________________________________________________________________________________________
duration
[1042 1467 1389 ... 1504  818 1812]
______________________________________________________________________________________________________________________________________________________
campaign
[ 1  2  3  4  6  5  8 11  9 10 15 12 14  7 24 13 17 29 21 20 16 32 19 25
 22 43 18 41 63 27 30 26 23 28 33 31]
______________________________________________________________________________________________________________________________________________________
pdays
[ -1 166  91 147 170 150 171 126 182 110 198 174 175  27 128 100 177 167
 122 183 195 133 178  34  10 163 184 154  99  93   2 242 272  76 160  90
 196 246 238 203 268 189 267  92   9  88  85 210 257 261 270 106 199 112
  41 294 231 239 302 135 307 222 138 323 141 320 264 316 315 256 146 328
  74 148 327 341 145 266 234 345 318 325 274 343 260 305 344 254 180 340
  82 181 278 153   4 349 334 176  87 269  86 169  83  79   6 259  13 161
 350  84  80 164  22 296  66 263 333  17  89  78 286 337 364 188 342 363
 352 295 353 356 288 367 366 359 347 370 284 300 306 361 287 301 355 371
 292 360 358 346 357 368 312 179 329 298 372 374 375 291  95 109  94  98
 186 101 187 321  40  96  21  35  97 285 103 212 293  81  38  28  67  60
 120  55 113  71 119  72  20 391  50 207 105 314 211 140 104  65 395 399
  49 389 386 412  62 229 385 156  63  64  69 394  70 185 102 190 461 116
 422 457 430 192 462 403 191 459 397 197 173 271 428 392 193 474 475 477
 130 283 157 476 131 132 129 134 114 121 107 115  58  57 143 208 335 149
 139  52  75 515 111  56 194 520 213 351 273 162 378 279 200 201 310 275
 127 165 309 313 216 209 282 202 436 433 142 172 281  48 276 297 280 446
 558 616 561 553 555 262 265 384 388 152 390 322 205 326 478 339 155 421
 223 626 426 236 206 348 595 311 648 304 521 369 449 398  53 258 479 237
 425 376 224 227 225 144 586 450 424 776 251 460 683 158 529 377 415 244
 407 458 532 481 445 535 784 491 440 455 277 470   1 435 437 728 414 518
 308 828  31  43 761  29  44 579 466 125 504 427 749 365 769 469 587 792
 854 842 603 444 232 690 137 442 541 550  73 439 420 168 243 387 204 503
 124 290  77  14 221 409 782 332 330 804 551 230 405 319  37 123 417 490
 463 362 805 544 472  33 495 253  36 299 324 235 401 117  68 774 228 317
 255 336 233 486   5 778 771 245  42 338 354 373 772  59 247 331  61 381
 108  15   8 241 136 159 250 217  12 826 594 303 151 404 717 289 252 651
 214  24 701 118]
______________________________________________________________________________________________________________________________________________________
previous
[ 0  1  4  2  3 10  7  9  5 29  6 13 17  8 11 30 22 58 21 14 26 12 19 55
 23 15 20 27 16 41 40 28 18 37]
______________________________________________________________________________________________________________________________________________________
poutcome
[3 1 0 2]
______________________________________________________________________________________________________________________________________________________
deposit
[1 0]
______________________________________________________________________________________________________________________________________________________

In [ ]:
print(df.corr()['deposit'])

age          0.034901
job          0.063395
marital      0.067610
education    0.095948
default     -0.040680
balance      0.081129
housing     -0.203888
loan        -0.110580
contact     -0.249847
day         -0.056326
month       -0.037121
duration     0.451919
campaign    -0.128081
pdays        0.151593
previous     0.139867
poutcome    -0.122369
deposit      1.000000
Name: deposit, dtype: float64

In [ ]:
x= df.drop('deposit',axis=1)
y=df['deposit']
print(x)

       age  job  marital  education  default  balance  housing  loan  contact  \
0       59    0        1          1        0     2343        1     0        2
1       56    0        1          1        0       45        0     0        2
2       41    9        1          1        0     1270        1     0        2
3       55    7        1          1        0     2476        1     0        2
4       54    0        1          2        0      184        0     0        2
...    ...  ...      ...        ...      ...      ...      ...   ...      ...
11157   33    1        2          0        0        1        1     0        0
11158   39    7        1          1        0      733        0     0        2
11159   32    9        2          1        0       29        0     0        0
11160   43    9        1          1        0        0        0     1        0
11161   34    9        1          1        0        0        0     0        0

       day  month  duration  campaign  pdays  previous  poutcome
0        5      8      1042         1     -1         0         3
1        5      8      1467         1     -1         0         3
2        5      8      1389         1     -1         0         3
3        5      8       579         1     -1         0         3
4        5      8       673         2     -1         0         3
...    ...    ...       ...       ...    ...       ...       ...
11157   20      0       257         1     -1         0         3
11158   16      6        83         4     -1         0         3
11159   19      1       156         2     -1         0         3
11160    8      8         9         2    172         5         0
11161    9      5       628         1     -1         0         3

[11162 rows x 16 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.1,random_state=60)
model= LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.8173679498657117

In [ ]:
params={
    'C': [0.01, 0.1, 1, 10, 100],
    'penalty': ['l1', 'l2'],
    'solver': ['liblinear'],
    'class_weight': [None, 'balanced']
}

In [ ]:
from sklearn.model_selection import GridSearchCV
grid_search=GridSearchCV(LogisticRegression(max_iter=1000),params,cv=3,scoring='accuracy')
grid_search.fit(x_train,y_train)
bestparm=grid_search.best_params_
best_model=grid_search.best_estimator_
y_pred=best_model.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.8245299910474485

In [ ]:
import statsmodels.api as sm
X_const = sm.add_constant(x)
model = sm.Logit(y, X_const).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.468294
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                deposit   No. Observations:                11162
Model:                          Logit   Df Residuals:                    11145
Method:                           MLE   Df Model:                           16
Date:                Sat, 24 May 2025   Pseudo R-squ.:                  0.3231
Time:                        11:59:38   Log-Likelihood:                -5227.1
converged:                       True   LL-Null:                       -7721.6
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0527      0.025     -2.066      0.039      -0.103      -0.003
x1             0.0916      0.027      3.340      0.001       0.038       0.145
x2             0.0402      0.025      1.625      0.104      -0.008       0.089
x3             0.1254      0.028      4.547      0.000       0.071       0.179
x4             0.1622      0.025      6.501      0.000       0.113       0.211
x5            -0.0505      0.026     -1.917      0.055      -0.102       0.001
x6             0.1084      0.026      4.128      0.000       0.057       0.160
x7            -0.5286      0.027    -19.842      0.000      -0.581      -0.476
x8            -0.2471      0.026     -9.327      0.000      -0.299      -0.195
x9            -0.5544      0.030    -18.406      0.000      -0.613      -0.495
x10           -0.0758      0.024     -3.123      0.002      -0.123      -0.028
x11            0.1153      0.025      4.650      0.000       0.067       0.164
x12            1.7490      0.040     43.462      0.000       1.670       1.828
x13           -0.3588      0.035    -10.166      0.000      -0.428      -0.290
x14            0.3546      0.041      8.571      0.000       0.274       0.436
x15            0.2743      0.034      8.069      0.000       0.208       0.341
x16            0.1880      0.042      4.474      0.000       0.106       0.270
==============================================================================

In [ ]:
x= df.drop('deposit',axis=1)
y=df['deposit']
print(x)

       age  job  marital  education  default  balance  housing  loan  contact  \
0       59    0        1          1        0     2343        1     0        2
1       56    0        1          1        0       45        0     0        2
2       41    9        1          1        0     1270        1     0        2
3       55    7        1          1        0     2476        1     0        2
4       54    0        1          2        0      184        0     0        2
...    ...  ...      ...        ...      ...      ...      ...   ...      ...
11157   33    1        2          0        0        1        1     0        0
11158   39    7        1          1        0      733        0     0        2
11159   32    9        2          1        0       29        0     0        0
11160   43    9        1          1        0        0        0     1        0
11161   34    9        1          1        0        0        0     0        0

       day  month  duration  campaign  pdays  previous  poutcome
0        5      8      1042         1     -1         0         3
1        5      8      1467         1     -1         0         3
2        5      8      1389         1     -1         0         3
3        5      8       579         1     -1         0         3
4        5      8       673         2     -1         0         3
...    ...    ...       ...       ...    ...       ...       ...
11157   20      0       257         1     -1         0         3
11158   16      6        83         4     -1         0         3
11159   19      1       156         2     -1         0         3
11160    8      8         9         2    172         5         0
11161    9      5       628         1     -1         0         3

[11162 rows x 16 columns]

In [ ]:
x_featured1= x.drop(['job','default'],axis =1)

In [ ]:
x_featured1

,age,marital,education,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,1,1,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,1,1,45,0,0,2,5,8,1467,1,-1,0,3
2,41,1,1,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,1,1,2476,1,0,2,5,8,579,1,-1,0,3
4,54,1,2,184,0,0,2,5,8,673,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,2,0,1,1,0,0,20,0,257,1,-1,0,3
11158,39,1,1,733,0,0,2,16,6,83,4,-1,0,3
11159,32,2,1,29,0,0,0,19,1,156,2,-1,0,3
11160,43,1,1,0,0,1,0,8,8,9,2,172,5,0
11161,34,1,1,0,0,0,0,9,5,628,1,-1,0,3

In [ ]:
x_featured1Scaled=sc.fit_transform(x_featured1)
print(x_featured1Scaled)

[[ 1.49150488 -0.31867191 -0.38050056 ... -0.48118405 -0.36325984
   0.52070456]
 [ 1.23967567 -0.31867191 -0.38050056 ... -0.48118405 -0.36325984
   0.52070456]
 [-0.0194704  -0.31867191 -0.38050056 ... -0.48118405 -0.36325984
   0.52070456]
 ...
 [-0.77495804  1.27998692 -0.38050056 ... -0.48118405 -0.36325984
   0.52070456]
 [ 0.14841574 -0.31867191 -0.38050056 ...  1.10957066  1.81833188
  -2.47059976]
 [-0.6070719  -0.31867191 -0.38050056 ... -0.48118405 -0.36325984
   0.52070456]]

In [ ]:
x_train,x_test,y_train,y_test =train_test_split(x_featured1Scaled,y,test_size=0.1,random_state=60)
model1=LogisticRegression()
model1.fit(x_train,y_train)
y_pred=model1.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.8164726947179947

In [ ]:
params={
    'C': [0.01, 0.1, 1, 10, 100],
    'penalty': ['l1', 'l2'],
    'solver': ['liblinear'],
    'class_weight': [None, 'balanced']
}

In [ ]:
from sklearn.model_selection import GridSearchCV
grid_search=GridSearchCV(LogisticRegression(max_iter=1000),params,cv=3,scoring='accuracy')
grid_search.fit(x_train,y_train)
bestparm=grid_search.best_params_
best_model=grid_search.best_estimator_
y_pred=best_model.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.8263205013428827

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[509  94]
 [100 414]]

In [ ]:
print("Train Accuracy:", model1.score(x_train, y_train))
print("Test Accuracy:", model1.score(x_test, y_test))

Train Accuracy: 0.7942259830761573
Test Accuracy: 0.8164726947179947

In [ ]:
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score,
    f1_score, roc_auc_score, classification_report, confusion_matrix
)

y_pred = model1.predict(x_test)


y_proba = model1.predict_proba(x_test)[:, 1]  # Use [:,1] for positive class

# Print metrics
print("✅ Accuracy     :", round(accuracy_score(y_test, y_pred), 4))
print("✅ Precision    :", round(precision_score(y_test, y_pred), 4))
print("✅ Recall       :", round(recall_score(y_test, y_pred), 4))
print("✅ F1 Score     :", round(f1_score(y_test, y_pred), 4))
print("✅ ROC AUC Score:", round(roc_auc_score(y_test, y_proba), 4))

✅ Accuracy     : 0.8165
✅ Precision    : 0.8186
✅ Recall       : 0.7724
✅ F1 Score     : 0.7948
✅ ROC AUC Score: 0.8862